<% layout('boilerplate') -%>

<h1> Shop Smart, save Big </h1>
<p> starting point to do something </p>
<p> Signup to start Buying </p>
<h3> start your search here </h3>
<p> Our prices are the some of the best prices on the web </p>
<h3> Look for the smart items?</h3>
<p> These will appear across the site as you add to your cart</p>

<h3> build a smart cart</h3>
<p> The more items you buy together, the more you save </p> 